<!DOCTYPE HTML>
<html>
<head>
    <title>blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="/assets/css/bootstrap.css?v=2" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
{% block body %}
{% endblock %}
</div>

 <!-- Scripts -->
 <script src="/assets/js/jquery.min.js"></script>
 <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>
