{% extends 'blog/base_blog.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_widget(form) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

