{% extends 'base_admin.html.twig' %}
 {% block body %}

     <div class="d-sm-flex align-items-center justify-content-between mb-4">
         <h1 class="h3 mb-0 text-gray-800">Liste des marques</h1>
     </div>

     <div class="card shadow mb-4">
         <div class="card-body">
             <div class="table-responsive">
                 <div class="row">
                     <div class="col-sm-12">
                         {% for flash_message in app.session.flashbag.get('success') %}
                             <div class="alert alert-success" role="alert">
                                 {{ flash_message }}
                             </div>
                         {% endfor %}
                     </div>
                 </div>
                 <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                     <thead>
                     <tr>
                         <th>Nom de Marque</th>
                         <th>Action</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for marque in marques %}
                         <tr>
                             <td>{{ marque.label }}</td>
                             <td>
                                 <a href="{{ path('edit_marque', {'id' : marque.id }) }}" class="btn btn-success btn-icon-split"><span class="text">Editer</span></a>
                                 <a href="{{ path('delete_marque', {'id' : marque.id }) }}" class="btn btn-danger btn-icon-split"><span class="text">Supprimer</span></a>
                             </td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
         </div>
     </div>

 {% endblock %}

